.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-between {
    justify-content: space-between;
}

.flex-item-center {
    align-items: center;
}

.flex-auto {
    flex: auto;
}

.flex-none {
    flex: none;
}